<%- include("header") -%>

<h1 id="mainhead">TaskTiger</h1>
</div>
<div class="errorbox">
<h1 id="error">404: looks like Tiger ate your homework <span class="material-symbols-outlined">
    dangerous
    </span></h1>


<%- include("footer") -%>