<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Tasks!</title>
    </head>
    <body>
        <form action="/addtask" method="post">
            <input type="text" name="taskText" id="mainText"/>
            <input type="submit" value="Add Task">
        </form>
    </body>
</html>

