</div>
<footer>
   <p id="footertext">To-Do or not To-Do? Ask <span id="contact"> Ravi  </span></p>
</footer>


   <!-- script -->
   <script type="text/javascript" src="js/script.js">
      
   </script>
</body>
</html>