<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>TaskTiger</title>

        <!-- custom stylesheet -->
        <link rel="stylesheet" href="css/styles.css">

        <!-- icon -->
        <link rel="icon" href="images/icon.png" type="x-icon">

        <!-- CDN -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
        <!-- header fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        
        <!-- footer font -->
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Beth+Ellen&family=Walter+Turncoat&display=swap" rel="stylesheet">        
        
        <!-- error font -->
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
        
    </head>
    <body>   
        <div class="box" id="heading">