<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RickRolled</title>
        <style>
            .maindiv{
                position: absolute;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="maindiv">
            <h1>Welcome noob <%=name%></h1>
            <iframe width="789" height="444" src="https://www.youtube.com/embed/xvFZjo5PgG0" title="Rick Roll (Different link + no ads)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
    </body>
</html>